/*universal selector*/
* {
  background-color: rgb(255, 242, 242);
  color: rgb(32, 64, 86);
}

html {
  font-size: 14px;
  color: rgb(32, 64, 86);
}

.container-fluid {
  padding-top: 5rem;
}

h5 {
  font-size: bold;
}
